<div mat-dialog-title class="dialog-header">{{NewOrEdit}} Backup</div>

<input #RunAt ng-model="RunAt" hidden>
<input #DaemonId ng-model="DaemonId" value="1" hidden>

<table>
    <td colspan="1">
        <div class="form">
            <div class="page-subheader">
                Backup Settings
            </div>
            <form class="form-settings">
                <mat-form-field class="left-width-full">
                    <mat-select placeholder="BackupType" #BackupType ng-model="BackupType" value="{{i_backupType}}">
                        <mat-option *ngFor="let backup of backups" [value]="backup.value">
                            {{ backup.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="left-width-full">
                    <input matInput value="0" #Cron type="text" ng-model="Cron" placeholder="Cron" disabled="true" value="{{i_cron}}">
                </mat-form-field>
            </form> 
        </div>
    </td>
    <!-- TIME SETTINGS -->
    <td colspan="2">
            <div class="timeSettings">
                <div class="page-subheader">
                    Time Settings
                </div>
                <mat-tab-group mat-stretch-tabs="always" class="" #TimeTab ng-model="TimeTab">
                    <mat-tab label="Minutes" (select)="OnTabChanges(0)">
                        <div class="tab-padding">
                            Every
                            <mat-form-field class="width-quarter">
                                <input matInput value="0" #EMMinutes ng-model="EMMinutes" type="number" min="1" max="59" placeholder="minute(s)" (change)="UpdateCronMinutes(EMMinutes, Cron)">                    
                            </mat-form-field>     
                        </div>
                    </mat-tab>
                    <mat-tab label="Hourly" (click)="OnTabChanges(1)">
                        <div class="tab-padding">
                            <mat-radio-group>
                                <div>
                                    <mat-radio-button color="primary" #EveryHourRadioHourly checked="true" ng-model="EveryHourRadioHourly" value="1">Every</mat-radio-button>
                                    <mat-form-field class="width-small">
                                        <input matInput value="0" #EveryHourHourly ng-model="EveryHourHourly" type="number" min="1" max="59" placeholder="Hour(s)" (change)="UpdateCronHourly(Cron, EveryHourRadioHourly, StartEveryHourRadioHourly, EveryHourHourly, StartEveryHourHourly, StartEveryMinuteHourly)">                    
                                    </mat-form-field>               
                                </div>
                                <div>
                                    <mat-radio-button color="primary" #StartEveryHourRadioHourly ng-model="StartEveryHourRadioHourly" value="2">Start every</mat-radio-button>
                                    <mat-form-field class="width-small">
                                        <input matInput value="0" #StartEveryHourHourly ng-model="StartEveryHourHourly" type="number" min="0" max="23" placeholder="Hour" (change)="UpdateCronHourly(Cron, EveryHourRadioHourly, StartEveryHourRadioHourly, EveryHourHourly, StartEveryHourHourly, StartEveryMinuteHourly)">                    
                                    </mat-form-field>
                                    :
                                    <mat-form-field class="width-small">
                                        <input matInput value="0" #StartEveryMinuteHourly ng-model="StartEveryMinuteHourly" type="number" min="0" max="59" placeholder="Minute" (change)="UpdateCronHourly(Cron, EveryHourRadioHourly, StartEveryHourRadioHourly, EveryHourHourly, StartEveryHourHourly, StartEveryMinuteHourly)">                    
                                    </mat-form-field>               
                                </div>
                            </mat-radio-group>               
                        </div>
                    </mat-tab>
                    <mat-tab label="Daily" (click)="OnTabChanges(2)">
                        <div class="tab-padding">
                            <mat-radio-group>
                                <div>
                                    <mat-radio-button color="primary" #RadioOneDaily checked="true" ng-model="RadioOneDaily" value="1">Every</mat-radio-button>
                                    <mat-form-field class="width-small">
                                        <input matInput value="0" #DaysOneDaily ng-model="DaysOneDaily" type="number" placeholder="Day(s)" (change)="UpdateCronDaily(Cron, RadioOneDaily, RadioTwoDaily, DaysOneDaily, StartHoursDaily, StartMinutesDaily)">                    
                                    </mat-form-field>  
                                </div>
                                <div>
                                    <mat-radio-button color="primary" #RadioTwoDaily ng-model="RadioTwoDaily" value="2">Every week day</mat-radio-button>
                                </div>
                                <div>
                                    Start time
                                    <mat-form-field class="width-small">
                                        <input matInput value="0" #StartHoursDaily ng-model="StartHoursDaily" type="number" min="0" max="23" placeholder="Hour" (change)="UpdateCronDaily(Cron, RadioOneDaily, RadioTwoDaily, DaysOneDaily, StartHoursDaily, StartMinutesDaily)">                    
                                    </mat-form-field>  
                                    <mat-form-field class="width-small">
                                        <input matInput value="0" #StartMinutesDaily ng-model="StartMinutesDaily" type="number" min="0" max="59" placeholder="Minute" (change)="UpdateCronDaily(Cron, RadioOneDaily, RadioTwoDaily, DaysOneDaily, StartHoursDaily, StartMinutesDaily)">                    
                                    </mat-form-field>  
                                </div>
                            </mat-radio-group>
                        </div>
                    </mat-tab>
                    <mat-tab label="Weekly" (click)="OnTabChanges(3)">
                        <div class="tab-padding">
                              <div>
                                  <mat-checkbox #CheckMonday ng-model="CheckMonday" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">
                                      Monday
                                  </mat-checkbox>
                              </div>
                              <div>
                                  <mat-checkbox #CheckTuesday ng-model="CheckTuesday" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">
                                      Tuesday
                                  </mat-checkbox>
                              </div>
                              <div>
                                  <mat-checkbox #CheckWednesday ng-model="CheckWednesday" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">
                                      Wednesday
                                  </mat-checkbox>
                              </div>
                              <div>
                                  <mat-checkbox #CheckThursday ng-model="CheckThursday" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">
                                      Thursday
                                  </mat-checkbox>
                              </div>
                              <div>
                                  <mat-checkbox #CheckFriday ng-model="CheckFriday" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">
                                      Friday
                                  </mat-checkbox>                        
                              </div>  
                              <div>
                                  <mat-checkbox #CheckSaturday ng-model="CheckSaturday" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">
                                      Saturday
                                  </mat-checkbox>
                              </div>
                              <div>
                                  <mat-checkbox #CheckSunday ng-model="CheckSunday" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">
                                      Sunday
                                  </mat-checkbox>
                              </div>
                              <div>
                                Start time
                                <mat-form-field class="width-small">
                                    <input matInput value="0" #StartHoursWeekly ng-model="StartHoursWeekly" type="number" min="0" max="23" placeholder="Hour" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">                    
                                </mat-form-field>  
                                <mat-form-field class="width-small">
                                    <input matInput value="0" #StartMinutesWeekly ng-model="StartMinutesWeekly" type="number" min="0" max="59" placeholder="Minute" (change)="UpdateCronWeekly(Cron,CheckMonday, CheckTuesday, CheckWednesday, CheckThursday, CheckFriday, CheckSaturday,CheckSunday,StartHoursWeekly,StartMinutesWeekly)">                    
                                </mat-form-field>  
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
    </td>
    <!-- PATH SETTINGS -->
    <td colspan="3">
            <div class="pathSettings">
                <div class="page-subheader">
                    Path Settings
                </div>
                <mat-tab-group mat-stretch-tabs="always" class="tab-width">
                      <mat-tab label="Source">   
                          <div class="tab-padding">
                              <form class="form-settings">
                                <!--cesty-->
                                  <div *ngFor="let iSourcePath of SourcePaths">
                                      <mat-form-field class="width-full">
                                          <input matInput value="0" #SourcePath type="text" ng-model="SourcePath" placeholder="Source path" value="{{iSourcePath}}"> 
                                      </mat-form-field>
                                      
                                  </div>
                                <!--pridavani-->
                                  <mat-form-field class="width-full">
                                    <input matInput value="0" #NewSourcePath type="text" ng-model="NewSourcePath" placeholder="New source path" value=""> 
                                  </mat-form-field>
                                  <button mat-icon-button color="primary" (click)="AddSourcePath(NewSourcePath)"><mat-icon>add_circle</mat-icon></button>

                              </form>
                          </div>
                      </mat-tab>
                      <!-- FTP -->
                      <mat-tab label="Destination">
                          <div class="tab-padding">
                              <mat-checkbox #LocalCheckbox color="primary" checked="true" (change)="changeLocalCheckBox(LocalCheckbox,FTPCheckbox)">Local</mat-checkbox>
                              <span class="space"></span>
                              <mat-checkbox #FTPCheckbox color="primary" (change)="changeFTPCheckBox(LocalCheckbox,FTPCheckbox)">FTP</mat-checkbox>
                          </div>
                            
                            <div *ngIf="LocalCheckbox.checked">
                                <!--cesty-->
                                <div *ngFor="let iDestinationPath of DestinationPaths">
                                    <mat-form-field class="width-full">
                                        <input matInput value="0" #DestinationPath type="text" ng-model="DestinationPath" placeholder="Destination path" value={{iDestinationPath}}>
                                    </mat-form-field>
                                </div>

                              <!--pridavani-->
                                <mat-form-field class="width-full">
                                    <input matInput value="0" #NewDestinationPath type="text" ng-model="NewDestinationPath" placeholder="New destination path" value="">
                                </mat-form-field>
                                <button mat-icon-button color="primary" (click)="AddDestinationPath(NewDestinationPath)"><mat-icon>add_circle</mat-icon></button>

                            </div>

                            <div *ngIf="FTPCheckbox.checked">
                                <table>                              
                                    <tr>
                                        <td>
                                            <mat-form-field class="rightFTPform">
                                                <input matInput value="0" #ServerAddress type="text" ng-model="ServerAddress" placeholder="Server address" value="{{i_serverAdress}}">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-form-field class="rightFTPform">
                                                <input matInput value="0" #PortNumber type="text" ng-model="PortNumber" placeholder="Port number" value="{{i_portNumber}}">
                                            </mat-form-field>    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-form-field class="rightFTPform">
                                                <input matInput value="0" #FTPUsername type="text" ng-model="FTPUsername" placeholder="Username" value="{{this.i_username}}">
                                            </mat-form-field>
                                        </td>  
                                    </tr>
                                    <tr> 
                                        <td>
                                            <mat-form-field class="rightFTPform">
                                                <input matInput value="0" #FTPPassword type="password" ng-model="FTPPassword" placeholder="Password" value="{{this.i_password}}">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                      </mat-tab>
                  </mat-tab-group>               
            </div>
    </td>
</table>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (action)="closeDialog()" [mat-dialog-close] cdkFocusInitial>Close</button>
    <button *ngIf="!this.isInEdit" mat-raised-button color="primary" class="form-settings-button" (click)="Send(Cron.value,BackupType.value)">
        Send new settings
    </button>  
    <button *ngIf="this.isInEdit" mat-raised-button color="primary" class="form-settings-button" (click)="UpdatePlannedBackup(Cron.value,BackupType.value)">
        Update settings
    </button>    
</mat-dialog-actions>