<div class="page-header" color="primary">
    Daemons
</div>
<div>
    <button mat-raised-button color="primary" (click)="AddDaemon()">
        Add Daemon
    </button>
    
    <button *ngIf='NewRequest' mat-raised-button color="primary" (click)="Requests()">
            <i class="material-icons">add_alert</i>
     </button>
<div class="padding-left-right">
    <div class="mat-elevation-z8">
        <mat-table #table [dataSource]='tableSource' matSort>

            <!-- ID -->
            <ng-container matColumnDef="Id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell cell *matCellDef="let row">{{ row.Id }}</mat-cell>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell cell *matCellDef="let row">{{ row.Name }}</mat-cell>
            </ng-container>

            <!-- Description -->
            <ng-container matColumnDef="Description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell cell *matCellDef="let row">{{ row.Description }}</mat-cell>
            </ng-container>

            <!-- Funcbuttons -->
            <ng-container matColumnDef="Funcbuttons">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell cell *matCellDef="let row">
                    <button mat-mini-fab color="primary" (click)="passRowIdToService(row.Id)">
                        <mat-icon>create</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
        <mat-paginator 
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
</div>
