<div style="text-align:center">
    <img width="500" alt="MMM_Logo" src="\assets\Images\Logo2.png">
  <h2>
      <div id="loginForm">
          <div class="input">
              <input type="text" ng-model="username" placeholder="Username">
          </div>
          <div class="input">
              <input type="Password" ng-model="password" placeholder="Password">
          </div>
          <div class="input">
            <input type="Password" ng-model="password" placeholder="Password">
          </div>
          <div class="input">
            <input type="text" ng-model="Email" placeholder="Email">
          </div>
          <div class="input">
              <button (click)="Register()">Register</button>
          </div>	
          <div >
                <a routerLink=""><button class="btn btn-success pull-right" > Back</button></a>
          </div>	
      </div>
  </h2>
 
</div>
