
<h1 mat-dialog-title>Problems</h1>
<mat-accordion>
<div mat-dialog-content>
  <mat-table [dataSource]="tableResource" matSort>
      <ng-container matColumnDef="Content">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Error list</mat-header-cell>
          <mat-cell *matCellDef="let error">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>#{{ error.Id }}</mat-panel-title>
                <mat-panel-description>{{ error.AffectedFiles }} Affected Files <div class="icon"><i class="material-icons">{{ (error.Solved == false) ? this.notSolved : this.solved }} </i></div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="tableErrorContent">
                  <tr>
                    <td class="listHeader">Problem</td>
                    <td>{{ error.Problem }}</td>
                  </tr>
                  <tr>
                    <td class="listHeader">Backup ID</td>
                    <td>{{ error.BackupId }}</td>
                  </tr>
                  <tr>
                    <td class="listHeader"> Daemon ID</td>
                    <td>{{ error.DaemonId }}</td>
                  </tr>
                  <tr>
                    <td class="listHeader">Daemon Name</td>
                    <td>{{ error.DaemonName }}</td>
                  </tr>
                </table>
            </mat-expansion-panel>
          </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
</mat-accordion>
<mat-paginator 
  [pageSize]="5"
  [pageSizeOptions]="[3,5,8,10]">
</mat-paginator>

<mat-dialog-actions>
<button mat-button color="primary" (action)="closeDialog()" [mat-dialog-close] cdkFocusInitial>Close</button>
</mat-dialog-actions>


<!--
<div *ngIf="this.canLoad">
<mat-accordion>
  <mat-expansion-panel *ngFor="let error of errorDetails">
    <mat-expansion-panel-header>
      <mat-panel-title>
        #{{ error.Id }}
      </mat-panel-title>
      <mat-panel-description>
        {{ error.AffectedFiles }} Affected Files
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="expandedContent">
    <table class="tableErrorContent">
      <tr>
        <td class="listHeader">Problem</td>
        <td>{{ error.Problem }}</td>
      </tr>
      <tr>
        <td class="listHeader">Backup ID</td>
        <td>{{ error.BackupId }}</td>
      </tr>
      <tr>
        <td class="listHeader"> Daemon ID</td>
        <td>{{ error.DaemonId }}</td>
      </tr>
      <tr>
        <td class="listHeader">Daemon Name</td>
        <td>{{ error.DaemonName }}</td>
      </tr>
    </table>

    <button mat-raised-button (click)="solvedProblem(error.Id)"><i class="material-icons">done</i> Solved!</button> 
  </div>
  </mat-expansion-panel>
</mat-accordion>
<button mat-button color="primary" (action)="closeDialog()" [mat-dialog-close] cdkFocusInitial>Close</button>
</div>
-->