.listHeader {
    background-color: #f9fbff;
    text-decoration-style: solid;
    font-weight: bold;
    padding: 2px 10px 5px 2px;
}

.tableErrorContent {
    border-left-width: 1px;
    border-left-style: solid;
}

.mat-raised-button {
    background: rgb(1, 167, 1);
    color: white;    
    margin-top: 5px;
}
 .expandedContent {
     
 }