
mat-checkbox {
    margin-left: 20px;
    margin-top: 5px;
}

.tableErrorContent {
    border-left-style: solid;
    border-left-width: 1px;
}

.listHeader {
    padding: 0px 10px 0px 5px;
    font-weight: bold;
}