<div class="page-header" color="primary">
    Home
</div>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="form">
            <div class="page-subheader">
                Vítejte <span>{{Username}}</span> !
            </div>
            <div class="page-subheader">
                Dnes je {{Datum}}
            </div>
            <div class="page-subheader">
                    <div *ngIf="ShowProblems">
                    <button mat-button [matMenuTriggerFor]="menu">||Backup Error||</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="ToDaemon(ErrorDetails.BackupReportId)"*ngFor="let ErrorDetails of DataSource">
                           {{ErrorDetails.Problem}}
                      </button>
                    </mat-menu>
                    </div>
                    <div *ngIf="ShowProblems == false">
                            <font color="Green">No Problems</font>
                    </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
    <div class="Weather">
        <div class="Weather1">
           Dnes je {{Temp}} °C
        </div>
        <div class="Weather2">
            ---{{WeatherDesc}}---
        </div>
    </div>
    </mat-grid-tile>
</mat-grid-list>


