.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 28px 8px; 
}

.page-header {
    color: #3f51b5;
    padding-left: 20px;
    background-origin: padding-box;
    background-size: auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    position: absolute;
  
  }

.croneditor {
    position: absolute;

}

.cronbutton {
    position: absolute;
    left: 530px;
    top: 400px;

}

.margin430 {
    top: 180px;
    left: 15px;
}

.example-full-width {
    padding-left: 50px;
    width: 100%
}

.example-half-width {
    padding-left: 0px;
    padding-top: 10px;
    
    width: 25%
}

.tw-width { 
    width: 10%;
    margin-left: 10px;
}

.hourly-padding{
    padding-left: 0px;
    padding-top: 10px;
}

mat-grid-tile {
    background: white;
  }

.repeat {
    color: #3f51b5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 28px 0px;
}

.marginn{
    margin-left: 50px;
}