<h2>
  <div id="loginForm">
      <div class="input">
          <input type="text" ng-model="DaemonId" placeholder="DaemonId">
      </div>
      <div class="input">
          <input type="text" ng-model="RunAt" placeholder="RunAt">
      </div>
      <div class="input">
          <input type="text" ng-model="Cron" placeholder="Cron">
      </div>
      <div class="input">
          <input type="text" ng-model="BackupType" placeholder="BackupType">
      </div>
      <div class="input">
          <input type="text" ng-model="SourcePath" placeholder="SourcePath">
      </div>
    </div>
    <div class="input">
        <input type="text" ng-model="DestinationPath" placeholder="DestinationPath">
    </div>
      <div class="input">
          <a><button (click)="Send()">SendSett</button></a>
      </div>
      

