/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding-top: 60px;
}

.page-header {
    color: #3f51b5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 20px 30px;
    background-origin: padding-box;
    background-size: auto;
}

.page-header-white-absolute {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 20px 0px;
    background-origin: padding-box;
    background-size: auto;

    position: absolute;
    left: 30px;
    top: 80px;
}

.page-header-white-absolute2 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 20px 0px;
    background-origin: padding-box;
    background-size: auto;

    position: absolute;
    left: 30px;
    top: 375px;
}

.page-header-white {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 20px 0px;
    background-origin: padding-box;
    background-size: auto;
}

.page-subheader {
    color: #3f51b5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 0px;
}

.padding-left-right {
    padding-left: 50px;
    padding-right: 50px;
}

.dialog-header {
    color: #3f51b5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}