<div class="actionButtons">
  <mat-grid-list cols="4" rows="10" rowHeight="3:1">
    <mat-grid-tile colspan="1" rowspan="5" class="InfoPanel">
      <div class="page-header-white-absolute">
        {{ this.daemonId }} - {{ this.daemonName }}
      </div>
      <div class="infobuttons">
        <div class="infobutton">
          <button mat-raised-button routerLink="/daemons" class="leftButton">
            <mat-icon>keyboard_return</mat-icon> Back
          </button>
        </div>
        <div class="infobutton">
          <button mat-raised-button (click)="this.newBackup()" class="leftButton">New backup</button>
        </div>
        <div class="infobutton">
          <button mat-raised-button color="{{ this.warningButtonColor }}" class="leftButton" ng-hide="this.hideWarningButton" (click)="showWarning()">
            {{ this.warningButtonText }} <i class="material-icons">{{ this.warningButtonIcon }}</i>
          </button>
        </div>
      </div>


      <div class="page-header-white-absolute2">
          {{ this.daemonName }} Settings
      </div>
      <div class="infosettings">
        <mat-card class="card">
        <div>
            <form>
                <mat-form-field class="dSettingsFormField" color="">
                  <input matInput #DaemonId type="text" ng-model="DaemonId" placeholder="Daemon id" disabled="true" value="{{ this.daemonId }}">
                </mat-form-field>
                <mat-form-field class="dSettingsFormField" color="">
                  <input matInput #DaemonName type="text" ng-model="DaemonName" placeholder="Daemon name" disabled = "{{ this.editSettings }}" value="{{ this.daemonName }}">
                </mat-form-field>
                <mat-form-field class="dSettingsFormField" color="">
                  <input matInput #DaemonDescription type="text" ng-model="DaemonDescription" placeholder="Daemon description" disabled="{{ this.editSettings }}" value="{{ this.daemonDescription }}">
                </mat-form-field>
            </form>
        </div>
        <div class="infobutton">
          <button mat-mini-fab *ngIf="this.editSettings" (click)="this.allowEdit()" class="editButton" color="basic"> 
            <mat-icon>create</mat-icon>
          </button>
          <button mat-mini-fab *ngIf="this.editSettings" (click)="this.AddDatabase()" class="editButton" color="basic"> 
            Db
          </button>
          <a *ngIf="!this.editSettings" class="infobutton">
            <button mat-raised-button class="formButton" color="" (click)="this.saveFormEditing(DaemonName.value, DaemonDescription.value)">Save</button>
            <button mat-raised-button class="formButton" color="" (click)="this.cancelFormEditing()">Cancel</button>
          </a>
        </div>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5">
      <div class="tabs">
        <mat-tab-group class="widthboi" mat-stretch-tabs="always">
          <mat-tab label="Planned backups">
            <planned-backups [actuallDaemonId]="this.daemonId"></planned-backups>
            
          </mat-tab>
          <mat-tab label="Backup reports">
            <div *ngIf="this.showBackupReports">
            <backup-reports [daemonId]="this.daemonId"></backup-reports>
          </div>
          </mat-tab>
          <!--mat-tab label="Statistics">
            <div class="page-header">
              Statistics
            </div>
            <div class="form">
                <div class="page-subheader">
                    {{ numberofpb }}
                </div>
                <div class="page-subheader">
                    XXX
                </div>
                <div class="page-subheader">
                    XXX
                </div>
            </div>
          </mat-tab-->
        </mat-tab-group>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>