.mat-raised-button {
    padding: 10px 50px;
}

mat-grid-tile {
    background: rgb(255, 255, 255);
  }

.tabs {
    position: absolute;
    left: 25px;
    top: 25px;
}

.tab {
    padding-right: 200px;
}

.widthboi {
    width: 1375px;
}

.form {
    padding: 20px 30px;
}

.leftButton {
    width: 300px;
}

.warningTable {
    vertical-align: top;
}

.formButton {
    border: none;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 0px 15px;
}

.dSettingsFormField {
    width: 300px;
}

.daemonSettings {
    font-family: 'Roboto';
    color: #ffffff;
    margin-top: 100px;
}

.card {
    width: 70%;
    margin-left: 30px;
}

.InfoPanel{
    background-color: #3f51b5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    z-index: 1;
}

.infobuttons {
    position: absolute;
    left: 30px;
    top: 170px;
}

.infosettings {
    position: absolute;
    left: 30px;
    top: 465px;
}

.infobutton {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}