.mat-raised-button {
    padding: 10px 50px;
}

mat-grid-tile {
    background: rgb(255, 255, 255);
  }

.tabs {
    position: absolute;
    left: 25px;
    top: 25px;
}

.tab {
    padding-right: 200px;
}

.widthboi {
    width: 1375px;
}

.form {
    padding: 20px 30px;
}

.leftButton {
    width: 300px;
}

.warningTable {
    vertical-align: top;
}

.formButton {
    border: none;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 10px 15px;
}

.dSettingsFormField {
    width: 300px;
}