<div class="actionButtons">
  <mat-grid-list cols="4" rows="10" rowHeight="3:1">
    <mat-grid-tile colspan="1" rowspan="5">
      <table class="warningTable">
        <tr>
          <td class="warningWindow">
            <button mat-raised-button color="primary" routerLink="/send-new-settings">New Backup</button>
          </td>
        </tr>
        <tr>
          <td class="nextBackupCountdown">
            <button mat-raised-button color="{{ this.warningButtonColor }}" ng-hide="this.hideWarningButton" (click)="showWarning()"><i class="material-icons">
              {{ this.warningButtonIcon }}</i> {{ this.warningButtonText }}
            </button>
          </td>
        </tr>
        <tr>
          <td class="nextBackupCountdown"> TODO </td>
        </tr>
      </table>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="5">
      <div class="tabs">
        <mat-tab-group class="widthboi" mat-stretch-tabs="always">
          <mat-tab label="Planned backups">
            <planned-backups [actuallDaemonId]="this.daemonId"></planned-backups>
          </mat-tab>
          <mat-tab label="Backup reports">
            <div *ngIf="this.showBackupReports">
            <backup-reports [daemonId]="this.daemonId"></backup-reports>
          </div>
          </mat-tab>
          <mat-tab label="Statistics">
            <div class="page-header">
              Statistics
            </div>
            <div class="form">
                <div class="page-subheader">
                    {{ numberofpb }}
                </div>
                <div class="page-subheader">
                    XXX
                </div>
                <div class="page-subheader">
                    XXX
                </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>