<div class="actionButtons">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <table class="warningTable">
        <tr>
          <td class="warningWindow">
            <button mat-raised-button color="primary" routerLink="/send-new-settings">New Backup</button>
          </td>
        </tr>
        <tr>
          <td class="nextBackupCountdown">
            <button mat-raised-button color="warn" click="showWarning()">Warning</button>
          </td>
        </tr>
        <tr>
          <td class="nextBackupCountdown"> TODO </td>
        </tr>
      </table>
    </mat-grid-tile>
    <mat-grid-tile>
      <p>Contentboi</p>
    </mat-grid-tile>
  </mat-grid-list>
</div>