<div class="page-header" color="primary">
  Planned Backups
</div>
<div class="padding-left-right">
    <div class="mat-elevation-z8">
    <mat-table [dataSource]='tableResource' matSort class="datatable">

      <!-- Id -->
      <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id </mat-header-cell>
          <mat-cell *matCellDef="let row" ng-model="daemonId">{{row.Id}}</mat-cell>
      </ng-container>

        <!-- DaemonId -->
        <ng-container matColumnDef="DaemonId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DaemonID </mat-header-cell>
            <mat-cell *matCellDef="let row" ng-model="daemonId">{{row.DaemonId}}</mat-cell>
        </ng-container>
      
        <!-- RunAt -->
        <ng-container matColumnDef="NextRun">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Next Run</mat-header-cell>
            <mat-cell cell *matCellDef="let row" ng-model="runAt">{{row.NextRun | date: "dd.MM.yyyy - hh:mm"}}</mat-cell>
        </ng-container>
      
        <!-- Cron -->
        <ng-container matColumnDef="Cron">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cron</mat-header-cell>
            <mat-cell cell *matCellDef="let row">{{row.Cron}}</mat-cell>
        </ng-container>
      
        <!-- BackupType -->
        <ng-container matColumnDef="BackupType">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Backup Type</mat-header-cell>
          <mat-cell cell *matCellDef="let row">{{row.BackupType}}</mat-cell>
        </ng-container>
      
        <!-- SourcePath -->
        <ng-container matColumnDef="SourcePath">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Source Path</mat-header-cell>
          <mat-cell cell *matCellDef="let row">{{row.SourcePath}}</mat-cell>
        </ng-container>
      
          <!-- DestinationPath -->
          <ng-container matColumnDef="DestinationPath">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Destination Path</mat-header-cell>
            <mat-cell cell *matCellDef="let row">{{row.DestinationPath}}</mat-cell>
          </ng-container>
      
          <!-- Buttons -->
          <ng-container matColumnDef="Buttons">
            <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell cell *matCellDef="let row">
      
              <button mat-icon-button color="primary" (click)="showUpdateSettings(row.BackupType, row.Cron, row.DestinationPath, row.SourcePath, row.Id)">
                <mat-icon>create</mat-icon>
              </button> 

              <button mat-icon-button color="primary" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button> 

            </mat-cell>
          </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      
      </mat-table>
    </div>
      <mat-paginator [length]="10"
                  [pageSize]="10"
                  >
      </mat-paginator>
</div>

<!--[pageSizeOptions]="[5, 10, 25, 100]-->
<!--
<send-settings class="editSettings"
  [show]="showVar"
  [daemonId]="this.daemonId"
  [runAt]="this.runAt"
  [cron]="this.cron"
  [backupType]="this.backupType"
  [sourcePath]="this.sourcePath"
  [destinationPath]="this.destinationPath"
  [id]="this.id"
></send-settings>
-->