.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 28px 8px; 
}

.page-header {
    color: #3f51b5;
    padding-left: 20px;
    background-origin: padding-box;
    background-size: auto;
}

.sendSettings {
    background: #3f51b5
}

.backupsList {
    padding: 100px;
}